<h1 class="text-2xl font-bold">Products List</h1>
<h3 class="text-lg">Total products <span class="text-accent">{{(products()?.count)}}</span></h3>

<div class="divider"></div>

@if (productsResource.status() == "resolved") {
  @if (products()!.count! > 10) {
    <div class="flex gap-2 items-center h-20">

      <app-pagination [totalPages]="products()!.pages" [currentPage]="paginationService.pageNumberFromURL()"></app-pagination>

      <select [(ngModel)]="productsPerPage" class="select select-bordered w-32">
        <option [ngValue]="10">10</option>
        <option [ngValue]="20">20</option>
        <option [ngValue]="50">50</option>
        <option [ngValue]="100">100</option>
      </select>

      <div class="flex flex-1"></div>
      <button class="btn btn-primary" [routerLink]="['/admin/product/new']">New Product</button>

    </div>
  }

  @if (products()!.count > 0) {
    <app-products-table [products]="products()!.products" (reloadProducts)="reloadProducts($event)"></app-products-table>
  } @else {
    <span class="text-accent">No products</span>
  }
  @if (products()!.count! > 10) {
    <app-pagination [totalPages]="products()!.pages" [currentPage]="paginationService.pageNumberFromURL()"></app-pagination>
  }
}

<app-toast [type]="toastType()" [message]="toastMessage()" (clearToast)="clearToast()"></app-toast>
