<form class="flex flex-col gap-2" [formGroup]="loginForm" (ngSubmit)="login()">

  <label class="input validator">
    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
        <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
        <circle cx="12" cy="7" r="4"></circle>
      </g>
    </svg>
    <input class="grow" type="text" placeholder="Username" formControlName="email"/>
  </label>
  @if (formSubmited()) {
    @for (error of  getControlErrors('email', 'Email'); track $index) {
      <small class="text-red-700">{{error}}</small>
    }
  }

  <label class="input validator">
    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
        <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
        <circle cx="12" cy="7" r="4"></circle>
      </g>
    </svg>
    <input type="password" class="grow" placeholder="Password" formControlName="password"/>
  </label>
  @if (formSubmited()) {
    @for (error of  getControlErrors('password', 'Password'); track $index) {
      <small class="text-red-700">{{error}}</small>
    }
  }

  <button type="submit" class="btn btn-secondary">Login</button>

  <p class="text-slate-700">You don't have account? <a class="text-secondary" [routerLink]="['/auth/register']">Go to register</a></p>

</form>
