@import "tailwindcss";
@plugin "daisyui" {
  themes: night --default;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../public/assets/fonts/montserrat-alternates-medium/montserrat-alternates-medium.ttf') format('truetype');
}

@theme {
  --font-montserrat-alternates: 'Montserrat Alternates', sans-serif;

  --animate-fadeIn: fadeIn 0.3s ease-in-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
